@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #e2e8f0;
}

#main {

    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 25%); */
    grid-template-columns: minmax(330px, 380px) 1100px;
    grid-template-rows: 200px  repeat(3, auto);
    height: 100vh;
    width: 100vw
    
}

#sidebar {
    grid-column: span 1;
    grid-row: span 4;
    background-color: #1992d4;
    padding-left: 1vw;
    padding-right: 1vw;
}

#side-items {
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;

}

.side-item {
    display: flex;
    gap: 10px;
    /* image gets stretched without below */
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    font-size: 2.5em;
    align-items: center;
    padding: 20px;
}

#navbar {
    background-color: white;
    grid-column: 2 / span 4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 80px 80px;
}

#navbar-top-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#navbar-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

#navbar-bottom-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-weight: bold;
}

#navbar-bottom-left span {
    font-size: 1.4em;
}


#navbar-bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

#navbar-bottom-right button{
    background-color: #1992d4;
    border: 0;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 0.6em;
    font-weight: bold;
}

#dog-picture {
    object-fit: cover;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#search-box {
    border-radius: 20px;
    width: 30vw;
    height: 40px;
    background-color: #e2e8f0;
    margin-right: 50px;
}

#project-area {
    padding-left: 50px;
    padding-top: 20px;
    grid-column: span 2;
    grid-row: span 3;
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 20px repeat(auto-fit, 400px);
    gap: 40px;
}

#project-area p {
    font-size: large;
    grid-column: span 3;
    font-weight: bold;
}

.project {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project p {
    padding: 15px;
}

.project p span {
    color: grey;
    font-weight: 400;
}

#announcement-area {
    grid-column: 4 / span 1;
    grid-row: span 2;
    padding-top: 20px;
    display: grid;
    width: 20vw;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 400px 20px 420px;
    gap: 40px;
}

#announcement-area p {
    font-size: 1em;
    grid-column: span 1;
    font-weight: bold;
}

.announcement {
    grid-row: span 1;
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.announcement p {
    padding: 15px;
}

.announcement p span {
    color: grey;
    font-weight: 400;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;

}

.profile img {
    object-fit: cover;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}



/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

#credits {
    left: 1%;
    bottom: 1%;
    position: absolute;
    color: white;
    font-family: Roboto;
}